.app-header {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
  position: relative;
  width: 100%;
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header h2 {
  margin: 0;
}

.app-header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.app-header nav a {
  color: white;
  text-decoration: none;
}
